.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    position: relative;    
}

.parallax-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    margin-left: 20px;
}

.parallax-caption h3 {
    font-size: 2rem;
    font-weight: bold;
}

.parallax-caption p {
    font-size: 1.2rem;
}

.parallax-1 {
    /*background-image: url('https://picsum.photos/id/1015/1200/800');*/
    background-image: url('/images/image01.png');
}

.parallax-2 {
    /* background-image: url('https://picsum.photos/id/1019/1200/800'); */
    background-image: url('/images/espacio-energia.jpg');
}

.parallax-3 {
    /* background-image: url('https://picsum.photos/id/1025/1200/800'); */
    background-image: url('/images/trabajo-personal.jpg');
}

.parallax-4 {
    background-image: url('/images/actividad-bosque.jpg');
}

.parallax-5 {
    background-image: url('/images/parte-ludica.jpg');
}

/* ####################### */
/* ####################### */

.section {
    height: 800px;    
}

.section div {
    margin-left: 20px;
}

.team {
    background-color: #83b8e7;    
}

.events {
    background-color: darkgrey;
}

.testimonies {
    background-color: darkkhaki;
}

.more-info {
    background-color: pink;
}

/* ####################### */
/* ####################### */

/* owl carousel */
.owl-carousel .owl-item {
    transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-item .card {
    padding: 30px;
    position: relative;
}

.owl-carousel .owl-stage-outer {
    overflow-y: auto !important;
    padding-bottom: 40px;
}

.owl-carousel .owl-item img {
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}

.owl-carousel .owl-item .card .name {
    position: absolute;
    bottom: -20px;
    left: 33%;
    color: #101c81;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: aquamarine;
    padding: 0.3rem 0.4rem;
    border-radius: 5px;
    box-shadow: 2px 3px 15px #3c405a;
}

.owl-carousel .owl-item .card {
    opacity: 0.2;
    transform: scale3d(0.8, 0.8, 0.8);
    transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-item.active.center .card {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.owl-theme .owl-dots .owl-dot span {
    height: 20px;
    background: #2a6ba3 !important;
    border-radius: 2px !important;
    opacity: 0.8;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    height: 13px;
    width: 13px;
    opacity: 1;
    transform: translateY(2px);
    background: #83b8e7 !important;
}

/* ####################### */
/* ####################### */

/* events calendar */

@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
    
.event-list {
    list-style: none;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}
.event-list > li {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin: 0px 0px 20px;
}
.event-list > li > time {
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(197, 44, 102);
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}
.event-list > li:nth-child(even) > time {
    background-color: rgb(165, 82, 167);
}
.event-list > li > time > span {
    display: none;
}
.event-list > li > time > .day {
    display: block;
    font-size: 56pt;
    font-weight: 100;
    line-height: 1;
}
.event-list > li time > .month {
    display: block;
    font-size: 24pt;
    font-weight: 900;
    line-height: 1;
}
.event-list > li > img {
    width: 100%;
}
.event-list > li > .info {
    padding-top: 5px;
    text-align: center;
}
.event-list > li > .info > .title {
    font-size: 17pt;
    font-weight: 700;
    margin: 0px;
}
.event-list > li > .info > .desc {
    font-size: 13pt;
    font-weight: 300;
    margin: 0px;
}
.event-list > li > .info > ul,
.event-list > li > .social > ul {
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}
.event-list > li > .social > ul {
    margin: 0px;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
    padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
} 
.event-list > li > .social > ul > li {    
    padding: 0px;
}
.event-list > li > .social > ul > li > a {
    padding: 3px 0px;
} 
.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}
.facebook a,
.twitter a,
.google-plus a {
    display: block;
    width: 100%;
    color: rgb(75, 110, 168) !important;
}
.twitter a {
    color: rgb(79, 213, 248) !important;
}
.google-plus a {
    color: rgb(221, 75, 57) !important;
}
.facebook:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(75, 110, 168) !important;
}
.twitter:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(79, 213, 248) !important;
}
.google-plus:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(221, 75, 57) !important;
}

@media (min-width: 768px) {
    .event-list > li {
        position: relative;
        display: block;
        width: 100%;
        height: 120px;
        padding: 0px;
    }
    .event-list > li > time,
    .event-list > li > img  {
        display: inline-block;
    }
    .event-list > li > time,
    .event-list > li > img {
        width: 120px;
        float: left;
    }
    .event-list > li > .info {
        background-color: rgb(245, 245, 245);
        overflow: hidden;
    }
    .event-list > li > time,
    .event-list > li > img {
        width: 120px;
        height: 120px;
        padding: 0px;
        margin: 0px;
    }
    .event-list > li > .info {
        position: relative;
        height: 120px;
        text-align: left;
        padding-right: 40px;
    }	
    .event-list > li > .info > .title, 
    .event-list > li > .info > .desc {
        padding: 0px 10px;
    }
    .event-list > li > .info > ul {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    .event-list > li > .social {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 40px;
    }
    .event-list > li > .social > ul {
        border-left: 1px solid rgb(230, 230, 230);
    }
    .event-list > li > .social > ul > li {			
        display: block;
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        display: block;
        width: 40px;
        padding: 10px 0px 9px;
    }
}